
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Home</h2>

            <div class="right-wrapper text-right pr-3">
                <ol class="breadcrumbs">
                    <li>
                        <a href="/">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                 
                </ol>

            </div>
        </header>

    </section>


