
<div class="header-nav collapse">
    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
        <nav>
            <ul class="nav nav-pills" id="mainNav">

                <li class="">
                    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="">
                    <a class="nav-link" href="/users"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
                </li>

            </ul>
        </nav>
    </div>
</div>

